<h1>
  This is a demo where <a target="_blank" href="https://github.com/KostyaTretyak/less-offset-comments">less-offset-comments</a> utility is used
</h1>

<p>
  The demo was <a href="https://github.com/KostyaTretyak/less-offset-comments-demo">written on Angular 9</a>.
</p>

<hr>
<form style="margin-top: 50px;">
  <button (click)="onSubmit()">Sumbit root comment</button>
  as user:
  <select [(ngModel)]="rootComment.userId" name="userId">
    <option [value]="1">1</option>
    <option [value]="2">2</option>
    <option [value]="3">3</option>
    <option [value]="4">4</option>
  </select>
</form>

<div class="comment-container">
  <cst-thread [comments]="comments"></cst-thread>
</div>
