div {
  -webkit-transition: all linear .5s;
  transition: all linear .5s;
}

.comment-container {
  margin: 50px;
  margin-bottom: 200px;
}

.demo-comment {
  border-left: 1px dashed brown;
  border-bottom: 1px dashed brown;
  border-radius: 3px;
  padding: 10px;
}

.demo-content {
  margin: 5px;
}

.avatar {
  margin: 3px 5px;
  float: left;
}

.ava-30 {
  width: 30px;
  height: 30px;
}

ul {
  list-style-type: none;
}

.user-id-1 {
  background-color: #ecfdec;
}

.user-id-2 {
  background-color: #ecf3fd;
}

.user-id-3 {
  background-color: #eae8d6;
}

.user-id-4 {
  background-color: #f7ecfd;
}


.offset-comment {
  margin-left: 40px;
}
