<div *ngFor="let comment of comments; index as index" [ngClass]="{'offset-comment': comment.hasOffset}">
  <div class="demo-comment user-id-{{ comment.userId }}">
    <div class="avatar">
      <img class="ava-30" src="./assets/img/ava.jpg">
    </div>
    <div class="demo-content">
      user{{ comment.userId }}
    </div>
    <br>
    <button *ngIf="comment.children.length" (click)="comment.wantDel = true">Delete</button>
    <button *ngIf="!comment.children.length" (click)="onDelete(comment, index)">Delete</button>
    <span *ngIf="comment.wantDel" style="color: brown">
      Are you sure you want to delete this comment and all its child comments?
      <button (click)="onDelete(comment, index)">OK</button>
      <button (click)="comment.wantDel = false">Cancel</button>
    </span>
    <ng-container *ngIf="!comment.wantDel">
      <button (click)="onSubmit(comment)">Reply</button>
      as user:
      <select [formControl]="control">
        <option *ngFor="let item of [1, 2, 3, 4]" [ngValue]="item">{{ item }}</option>
      </select>
    </ng-container>
  </div>
  <cst-thread [comments]="comment.children"></cst-thread>
</div>
